@charset "UTF-8";

/* Reset de margens e paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    background:  black url('../media/galaxy.jpg') center center no-repeat fixed;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    color: #f0f0f0;
    line-height: 1.6;
}


header{
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
header h1 {
    font-size: 3em;
    margin: 50px 0px;
    text-shadow: 2px 2px 4px #000;
    color: white;
    text-shadow: 5px 5px 10px #0B551A;
}


nav {

    color: #fff;
    padding: 10px 0;
    text-align: center;
    margin-bottom: 15px;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav a {
    font-size: 1.4em;
    color: #fff;
    text-decoration: none;
    padding: 7px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
}
nav a:hover {
    font-size: 1.5em;
    background: #0B551A;
    color: #fff;
}


main {
    padding: 20px;
    min-height: 400px;
}
.card-center {
    position: relative;
    padding: 20px;
    margin: 50px 25px;
    text-align: center;
    border-radius: 8px;
    border: 2px solid white;
    box-shadow: 6px 8px 16px #0B551A;
}
.card-center h2 {
    color: #f0f0f0;
    font-size: 2em;
    margin-bottom: 10px;
}


.sobre {
    margin: 20px 20px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.sobre img {
    height: 590px;
    border-radius: 10%;
    margin-bottom: 15px;
    box-shadow: 5px 8px 20px #0B551A;
}
.sobre p {
    display: flex;
    max-width: 600px;
    font-size: 1.3em;
    line-height: 1.8;
    color: #f0f0f0;
    text-align: justify;
}


.linguagem {
    padding: 20px;
    margin: 20px 25px;
    text-align: center;
}
.linguagem h3 {
    font-size: 2em;
    margin-bottom: 20px;
}
.imgs{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}


.card-projetos {
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
}
.projeto h3 {
    font-size: 1.8em;
    margin-bottom: 20px;
    text-align: center;
}
.projeto img {
    height: 400px;
    border-radius: 5%;;
    box-shadow: 2px 8px 16px #0B551A;
}
.projeto p {
    margin-top: 20px;
    max-width: 400px;
    font-size: 1.3em;
    line-height: 1.6;
    color: #f0f0f0;
    text-align: center;
}
.projeto ul li {
    text-align: left;
    margin: 15px 60px;
    font-size: 1.3'em;
}


.card-contatos {
    text-align: center;
    margin: 20px 0px;
    display: flex;
    justify-content: space-around;
}
.contatos h4{
    font-size: 1.6em;
    margin-bottom: 10px;
}
.contatos a img:hover {
    height: 80px;
    transform: scale(1.1);
}
.contatos img {
    color: #f0f0f0;
    height: 70px;
    margin: 0 15px;
    transition: transform 0.3s;
}


footer {
    color: #0B551A;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    padding: 25px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 15px;
}